{{ 'section-landing-gallery.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>

<div class="landing-gallery__container">
  {% if section.settings.title != blank %}
    <h2 class="landing-gallery__title page-width">{{ section.settings.title }}</h2>
  {% endif %}
  <div class="landing-gallery__scroll-gallery">
    {%- for block in section.blocks -%}
      <div class="landing-gallery__image">
        {% if block.settings.image != blank %}
          {{ block.settings.image | image_url: width: 1000 | image_tag }}
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
    "name": "Landing Gallery",
    "tag": "section",
    "class": "landing-gallery",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Gallery"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 120,
        "step": 4,
        "unit": "px",
        "label": "t:sections.global.settings.padding_top.label",
        "default": 72
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 120,
        "step": 4,
        "unit": "px",
        "label": "t:sections.global.settings.padding_bottom.label",
        "default": 72
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
         {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
         }
        ]
      }
    ],
    "presets": [
    {
        "name": "Landing Gallery"
    }
  ]
}
{% endschema %}